@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiny5&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: "Poppins", serif; */
    font-style: normal;
}

body {
    background-color: rgb(15, 15, 15);
    user-select: none;
}

.container {
    /* background: linear-gradient(to bottom right, 
    rgba(113, 0, 135, 0.7) 0%,
    rgba(70, 0, 70, 0.6) 15%,
    rgb(15, 15, 15) 35%,
    rgb(15, 15,15) 65%, 
    rgba(80, 50, 0, 0.5) 85%, 
    rgba(121, 76, 0, 0.7) 100% */
    background: linear-gradient(to top left, #030637, #3c0753, #720455);
    color: #fff;
    /* min-height: 800px; */
}


.navbar {
    font-family: "Poppins", serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.SCSET-logo {
    padding: 20px;
}

.Bennett-LOGO {
    padding: 20px;
}

.glass-navbar {
    margin-top: 2rem;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color: rgba(169, 169, 169, 0.4);
    border-radius: 20px;
    border: 1.6px solid rgba(255, 255, 255, 0.125);
    padding: 1rem 2.2rem;
    display: flex;
    gap: 3rem;
    box-shadow: 0 0 2rem rgba(224, 224, 224, 0.2);
}

.glass-navbar a {
    text-decoration: none;
    color: white;
}

.glass-navbar a:hover{
    font-weight: bold;
}

.alt-logo {
    text-align: center;
    margin: 4rem;
    margin-bottom: 10px;
    /* filter: invert(1); */
}

.text {
    text-align: center;
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background: linear-gradient(to right, #E73694 20%, #F2F677 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    font-size: 52px;
    font-weight: 900;
    margin: 0px;
    line-height: 92px;
    margin-bottom: 1.2rem;
}

.text-lower{
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 10px;
}

.microsoft-logo{
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 2.8rem;
}

.microsoft-logo div{
    font-family: "Poppins", serif;
    font-size: 30px;
}

.main{
    font-family: "Poppins", serif;
    display: flex;
    /* gap: 10px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-main{
    font-family: "Poppins", serif;
    max-width: 60vw;
    /* margin-top: 40px; */
    margin-bottom: 25px;
    /* font-family: "Orbitron", serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.second-div{
    margin-top: 20px;
}

.date{
    font-family: "Orbitron", serif;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.btn{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 80px;
}

.btn button{
    font-family: "Poppins", serif;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    backdrop-filter: blur(3px);
    background-color: rgba(169, 169, 169, 0.3);
    border: 1.6px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 0 2rem rgba(224, 224, 224, 0.2);
}

.btn button:hover{
    font-weight: bold;
}

.btn button a{
    text-decoration: none;
    color: white;
}

#footer{
    font-family: "Poppins", serif;
    backdrop-filter: blur(3px);
    /* background-color: rgba(169, 169, 169, 0.3); */
    background-color: rgba(100, 0, 128, 0.356);
    border: 1.6px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 0 2rem rgba(224, 224, 224, 0.2);
}


footer {
    margin: 20px;
    position: relative;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer .social-media a:hover {
    color: #e74c3c;
    transform: scale(1.06);
}

#footer a {
    color: white;
}

.social-media img {
    filter: invert(1);
}

footer p a {
    text-decoration: none;
}

footer p{
    font-size: 14px;
    margin-top: 10px;
}

.leaderboard-box{
    font-family: "Poppins", serif;
    max-width: 55vw;
    min-height: 70vh;
    margin: auto;
    margin-bottom: 50px;
    backdrop-filter: blur(3px);
    background-color: rgba(169, 169, 169, 0.3);
    border: 1.6px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 0 2rem rgba(224, 224, 224, 0.2);
    border-radius: 20px;
}

.header{
    margin: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards{
    max-height:700px;
    overflow-y: scroll;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    background-color: rgba(23, 23, 23, 0.203);
    border: 1.6px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 0 2rem rgba(224, 224, 224, 0.2);
    border-radius: 20px;
    border-radius: 10px;
    min-width: 80%;
    min-height: 60px;
    padding: 10px;
}

.rank-first{

    background-color: rgba(234, 178, 8, 0.67);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 2rem rgba(234, 179, 8, 0.5);
    animation: glow 2s infinite;
    --glow-color: rgba(234, 179, 8, 0.5);
}

.rank-second{
    background-color: rgba(163, 163, 163, 0.432);;
    backdrop-filter: blur(3px);
    --tw-text-opacity: 1;
    box-shadow: 0 0 2rem rgba(163, 163, 163, 0.5);
    animation: glow 2s infinite;
    --glow-color: rgba(163, 163, 163, 0.5);
}

.rank-third{
    background-color: rgba(217, 119, 6, 0.514);
    backdrop-filter: blur(3px);
    --tw-text-opacity: 1;
    box-shadow: 0 0 2rem rgba(217, 119, 6, 0.5);
    animation: glow 2s infinite;
    --glow-color: rgba(180, 83, 9, 0.5);
}

.points{
    margin-right: 30px;
}

.rank{
    border-radius: 10000px;
    border: 1.6px solid rgba(255, 255, 255, 0.125);
    width: 40px;
    height: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-rank{
    margin-left: 30px;
}

hr {
    margin: 12px 0;
    margin-bottom: 50px;
    border: 0;
    text-align: center;
    
    &:before {
      content: "\2022  \2022  \2022";
      font-size: 32px;
      color: #ffffff;
    }
  }

.first{
    display: flex;
    align-items: center;
    gap: 30px;
}

.timeline-parent{
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding-bottom: 60px;
}

@media (max-width: 818px){
    .timeline-parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0rem;
    }
    .team-name{
        width: 100px;
    }
    .container{
        min-height: 100vh;
        width: 100vw;
    }

    .navbar{
        flex-direction: column;
    }

    .glass-navbar{
        margin-top: 0px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .logos{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .text-main{
        max-width: fit-content;
        max-height: fit-content;
        font-size: 25px;
        margin-top: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .text-lower{
        margin: 0 2px;
    }

    .text{
        line-height: 70px;
        font-size: 35px;
        margin-top:2rem;
        margin-bottom:2rem;
    }

    .leaderboard-box{
        max-width: 90vw;
    }

    .cards{
        padding: 0;
    }

    .text-leaderboard{
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .header-rank{
        margin: 0;
    }

    .points{
        margin-right: 0;
    }

}

@media (min-width: 818px){
    .container{
        min-height: 90vh;
    }
}

@media (max-width: 361px){
    .glass-navbar{
        font-size: 0.7rem;
    }

}

.timeline{
    padding: 1rem;border-left: rgb(255, 255, 255) 2px solid;
}

.timeline-component{
    display: flex;
    align-items: center;
}

/* For dark theme scroll bar*/
/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark background for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Darker gray for the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
    border: 3px solid #1e1e1e; /* Gives the illusion of a thinner scrollbar with padding */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Slightly lighter on hover */
}






/* Trial code for timeline */

